my_model\.h5

dataset/*
custom_test/

model_backups/
shoes/
pretrained_models/
models_backups/
dataset_full_resolution/*
dataset_full_resolution/
dataset_cifar/
saved_models/
cifar-10 Image extractor*
Region Proposal*